In [2]:
#라이브러리 import
import numpy as np
import pandas as pd

In [3]:
#data set: stn 13
uv_13 = pd.read_csv("../processed uv data/uv_stn13.csv")
uv_13.head(5)

,Unnamed: 0,yyyymmdd,hhnn,stn,lon,lat,uv,band1,band2,band3,...,band12,band13,band14,band15,band16,solarza,sateza,esr,height,landtype
0,1,20200101,0,13,126.16,33.3,0.0,0.00000,0.00000,0.00000,...,250.75924,269.97608,269.70811,268.61702,259.10334,165.17963,38.96359,-9.5091,71.0,0
1,16,20200101,10,13,126.16,33.3,0.0,-0.00057,0.00000,0.00119,...,249.26338,267.39961,267.63692,266.66849,258.21621,166.67178,38.96359,-9.5091,71.0,0
2,31,20200101,20,13,126.16,33.3,0.0,0.00000,0.00000,-0.00030,...,249.61859,268.27856,268.19710,267.20654,258.38663,167.94722,38.96359,-9.5091,71.0,0
3,46,20200101,30,13,126.16,33.3,0.0,-0.00057,0.00000,-0.00030,...,249.79544,268.44652,268.07856,267.50047,258.67009,168.93011,38.96359,-9.5091,71.0,0
4,61,20200101,40,13,126.16,33.3,0.0,-0.00113,-0.00057,-0.00119,...,249.86163,268.64762,268.58556,267.34496,258.50010,169.53722,38.96359,-9.5091,71.0,0

In [4]:
print('dataset 구조: ', uv_13.shape)

dataset 구조:  (100705, 28)

#### 변수(feature)
• yymmdd: year-month-day  
• hhnn: hour-minute  
• band1: 파랑 가시밴드  
• band2: 초록 가시밴드  
• band3: 빨강 가시밴드  
• band4: 식생 가시밴드  
• band5: 눈/얼음 가시밴드  
• band6: 권운 밴드  
• band7: 야간안개/하층운 밴드  
• band8: 상층 수증기 밴드  
• band9: 중층 수승기 밴드  
• band10: 하층 수증기 밴드  
• band11: 구름상 밴드  
• band12: 오존 밴드  
• band13: 대기창 밴드  
• band14: 깨끗한 대기창 밴드  
• band15: 오염된 대기창 밴드  
• band16: 이산화탄소 밴드  
• solarza: 태양 천정각  
• esr: 대기외 일사량

In [5]:
#날짜, 시간 데이터 -> object 형으로 변환
uv_13['yyyymmdd'] = uv_13['yyyymmdd'].astype(str)
uv_13['hhnn'] = uv_13['hhnn'].astype(str)

uv_13.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100705 entries, 0 to 100704
Data columns (total 28 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  100705 non-null  int64
 1   yyyymmdd    100705 non-null  object
 2   hhnn        100705 non-null  object
 3   stn         100705 non-null  int64
 4   lon         100705 non-null  float64
 5   lat         100705 non-null  float64
 6   uv          91845 non-null   float64
 7   band1       100705 non-null  float64
 8   band2       100705 non-null  float64
 9   band3       100705 non-null  float64
 10  band4       100705 non-null  float64
 11  band5       100705 non-null  float64
 12  band6       100705 non-null  float64
 13  band7       100705 non-null  float64
 14  band8       100705 non-null  float64
 15  band9       100705 non-null  float64
 16  band10      100705 non-null  float64
 17  band11      100705 non-null  float64
 18  band12      100705 non-null  float64
 19  band13      100705 non-null  float64
 20  band14      100705 non-null  float64
 21  band15      100705 non-null  float64
 22  band16      100705 non-null  float64
 23  solarza     100705 non-null  float64
 24  sateza      100705 non-null  float64
 25  esr         100705 non-null  float64
 26  height      100705 non-null  float64
 27  landtype    100705 non-null  int64
dtypes: float64(23), int64(3), object(2)
memory usage: 21.5+ MB

In [6]:
#날짜 형식: yyyy-mm-dd
#시간 형식: hh:nn
uv_13['yyyymmdd'] = pd.to_datetime(uv_13['yyyymmdd'])
uv_13['yyyymmdd'] = uv_13['yyyymmdd'].astype(str)

In [7]:
uv_13.head(5)

,Unnamed: 0,yyyymmdd,hhnn,stn,lon,lat,uv,band1,band2,band3,...,band12,band13,band14,band15,band16,solarza,sateza,esr,height,landtype
0,1,2020-01-01,0,13,126.16,33.3,0.0,0.00000,0.00000,0.00000,...,250.75924,269.97608,269.70811,268.61702,259.10334,165.17963,38.96359,-9.5091,71.0,0
1,16,2020-01-01,10,13,126.16,33.3,0.0,-0.00057,0.00000,0.00119,...,249.26338,267.39961,267.63692,266.66849,258.21621,166.67178,38.96359,-9.5091,71.0,0
2,31,2020-01-01,20,13,126.16,33.3,0.0,0.00000,0.00000,-0.00030,...,249.61859,268.27856,268.19710,267.20654,258.38663,167.94722,38.96359,-9.5091,71.0,0
3,46,2020-01-01,30,13,126.16,33.3,0.0,-0.00057,0.00000,-0.00030,...,249.79544,268.44652,268.07856,267.50047,258.67009,168.93011,38.96359,-9.5091,71.0,0
4,61,2020-01-01,40,13,126.16,33.3,0.0,-0.00113,-0.00057,-0.00119,...,249.86163,268.64762,268.58556,267.34496,258.50010,169.53722,38.96359,-9.5091,71.0,0

In [8]:
for i in range(len(uv_13)):
    new_hhnn = '{0:0>4}'.format(uv_13['hhnn'][i])
    hhnn = '{0}:{1}'.format(new_hhnn[0:2], new_hhnn[2:])
    uv_13['hhnn'][i] = hhnn

C:\Users\dbs92\AppData\Local\Temp/ipykernel_2696/860105705.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uv_13['hhnn'][i] = hhnn

In [9]:
uv_13.head(5)

,Unnamed: 0,yyyymmdd,hhnn,stn,lon,lat,uv,band1,band2,band3,...,band12,band13,band14,band15,band16,solarza,sateza,esr,height,landtype
0,1,2020-01-01,00:00,13,126.16,33.3,0.0,0.00000,0.00000,0.00000,...,250.75924,269.97608,269.70811,268.61702,259.10334,165.17963,38.96359,-9.5091,71.0,0
1,16,2020-01-01,00:10,13,126.16,33.3,0.0,-0.00057,0.00000,0.00119,...,249.26338,267.39961,267.63692,266.66849,258.21621,166.67178,38.96359,-9.5091,71.0,0
2,31,2020-01-01,00:20,13,126.16,33.3,0.0,0.00000,0.00000,-0.00030,...,249.61859,268.27856,268.19710,267.20654,258.38663,167.94722,38.96359,-9.5091,71.0,0
3,46,2020-01-01,00:30,13,126.16,33.3,0.0,-0.00057,0.00000,-0.00030,...,249.79544,268.44652,268.07856,267.50047,258.67009,168.93011,38.96359,-9.5091,71.0,0
4,61,2020-01-01,00:40,13,126.16,33.3,0.0,-0.00113,-0.00057,-0.00119,...,249.86163,268.64762,268.58556,267.34496,258.50010,169.53722,38.96359,-9.5091,71.0,0

In [10]:
#yyyymmdd와 hhnn 합쳐서 새로운 datetime형 feature 만들기
uv_13['dateTime'] = uv_13['yyyymmdd'] + " " + uv_13['hhnn']

In [11]:
uv_13.head(5)

,Unnamed: 0,yyyymmdd,hhnn,stn,lon,lat,uv,band1,band2,band3,...,band13,band14,band15,band16,solarza,sateza,esr,height,landtype,dateTime
0,1,2020-01-01,00:00,13,126.16,33.3,0.0,0.00000,0.00000,0.00000,...,269.97608,269.70811,268.61702,259.10334,165.17963,38.96359,-9.5091,71.0,0,2020-01-01 00:00
1,16,2020-01-01,00:10,13,126.16,33.3,0.0,-0.00057,0.00000,0.00119,...,267.39961,267.63692,266.66849,258.21621,166.67178,38.96359,-9.5091,71.0,0,2020-01-01 00:10
2,31,2020-01-01,00:20,13,126.16,33.3,0.0,0.00000,0.00000,-0.00030,...,268.27856,268.19710,267.20654,258.38663,167.94722,38.96359,-9.5091,71.0,0,2020-01-01 00:20
3,46,2020-01-01,00:30,13,126.16,33.3,0.0,-0.00057,0.00000,-0.00030,...,268.44652,268.07856,267.50047,258.67009,168.93011,38.96359,-9.5091,71.0,0,2020-01-01 00:30
4,61,2020-01-01,00:40,13,126.16,33.3,0.0,-0.00113,-0.00057,-0.00119,...,268.64762,268.58556,267.34496,258.50010,169.53722,38.96359,-9.5091,71.0,0,2020-01-01 00:40

In [12]:
uv_13['dateTime'] = pd.to_datetime(uv_13['dateTime'])

In [13]:
uv_13 = uv_13.drop(['yyyymmdd', 'hhnn', 'lon', 'lat'], axis=1)

In [14]:
uv_13.head(5)

,Unnamed: 0,stn,uv,band1,band2,band3,band4,band5,band6,band7,...,band13,band14,band15,band16,solarza,sateza,esr,height,landtype,dateTime
0,1,13,0.0,0.00000,0.00000,0.00000,-0.00075,0.0000,-0.00065,268.21695,...,269.97608,269.70811,268.61702,259.10334,165.17963,38.96359,-9.5091,71.0,0,2020-01-01 00:00:00
1,16,13,0.0,-0.00057,0.00000,0.00119,-0.00015,-0.0003,-0.00065,264.78634,...,267.39961,267.63692,266.66849,258.21621,166.67178,38.96359,-9.5091,71.0,0,2020-01-01 00:10:00
2,31,13,0.0,0.00000,0.00000,-0.00030,0.00030,0.0000,-0.00065,265.59620,...,268.27856,268.19710,267.20654,258.38663,167.94722,38.96359,-9.5091,71.0,0,2020-01-01 00:20:00
3,46,13,0.0,-0.00057,0.00000,-0.00030,0.00030,-0.0006,-0.00065,266.50471,...,268.44652,268.07856,267.50047,258.67009,168.93011,38.96359,-9.5091,71.0,0,2020-01-01 00:30:00
4,61,13,0.0,-0.00113,-0.00057,-0.00119,-0.00030,-0.0003,-0.00065,265.72831,...,268.64762,268.58556,267.34496,258.50010,169.53722,38.96359,-9.5091,71.0,0,2020-01-01 00:40:00

In [15]:
uv13_data = uv_13[(uv_13['dateTime']>= '2020-05-01') & (uv_13['dateTime']< '2020-07-01')]

In [16]:
uv13_data.head(5)

,Unnamed: 0,stn,uv,band1,band2,band3,band4,band5,band6,band7,...,band13,band14,band15,band16,solarza,sateza,esr,height,landtype,dateTime
17116,1,13,0.0,0.00000,-0.00057,-0.00030,0.00165,-0.0003,0.00000,277.64337,...,277.63245,277.03649,275.67037,262.71147,130.35092,38.96359,-6.11462,71.0,0,2020-05-01 00:00:00
17117,16,13,0.0,-0.00057,-0.00057,0.00060,0.00015,0.0000,0.00000,279.96162,...,281.76290,281.86880,280.33071,266.54655,130.77681,38.96359,-6.11462,71.0,0,2020-05-01 00:10:00
17118,46,13,0.0,-0.00170,-0.00057,-0.00745,-0.00509,0.0000,-0.00065,281.48323,...,285.37234,285.75315,284.55141,269.92091,131.28775,38.96359,-6.11462,71.0,0,2020-05-01 00:30:00
17119,61,13,0.0,0.00000,-0.00057,-0.00030,0.00015,0.0003,-0.00065,282.01418,...,285.01048,285.49655,283.95280,269.52565,131.33348,38.96359,-6.11462,71.0,0,2020-05-01 00:40:00
17120,76,13,0.0,-0.00057,0.00000,0.00089,-0.00030,0.0003,0.00000,281.88250,...,285.67747,286.16530,284.98365,270.19514,131.18095,38.96359,-6.11462,71.0,0,2020-05-01 00:50:00

In [17]:
uv13_data.tail(5)

,Unnamed: 0,stn,uv,band1,band2,band3,band4,band5,band6,band7,...,band13,band14,band15,band16,solarza,sateza,esr,height,landtype,dateTime
25811,64726,13,0.0,0.00000,0.00000,-0.00089,0.00105,0.0000,-0.00065,286.18131,...,286.66944,286.30706,283.89278,270.50294,118.88078,38.96359,-4.36775,71.0,0,2020-06-30 23:10:00
25812,64741,13,0.0,-0.00057,-0.00057,0.00030,0.00030,-0.0003,-0.00065,285.73167,...,286.40865,286.09435,283.65243,270.33203,119.76134,38.96359,-4.36775,71.0,0,2020-06-30 23:20:00
25813,64756,13,0.0,0.00000,-0.00057,-0.00149,0.00075,0.0000,-0.00065,285.90121,...,286.42239,286.15111,283.57723,270.24650,120.55958,38.96359,-4.36775,71.0,0,2020-06-30 23:30:00
25814,64771,13,0.0,0.00000,0.00000,-0.00030,0.00105,0.0003,0.00000,287.27229,...,287.17533,286.74539,284.13268,270.50294,121.27209,38.96359,-4.36775,71.0,0,2020-06-30 23:40:00
25815,64786,13,0.0,0.00000,0.00000,0.00000,-0.00030,0.0003,-0.00065,285.21624,...,286.13338,285.88122,283.51703,270.17802,121.89568,38.96359,-4.36775,71.0,0,2020-06-30 23:50:00

In [18]:
#데이터 표준화
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scale_columns = ['band1', 'band2', 'band3', 'band4', 'band5', 'band6', 'band7', 'band8', 'band9', 'band10', 'band11',
                'band12', 'band13', 'band14', 'band15', 'band16', 'solarza', 'sateza', 'esr']
uv13_standard_data = uv13_data
uv13_standard_data[scale_columns] = scaler.fit_transform(uv13_standard_data[scale_columns])

C:\Users\dbs92\anaconda3\lib\site-packages\pandas\core\frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)

In [19]:
uv13_standard_data.head(5)

,Unnamed: 0,stn,uv,band1,band2,band3,band4,band5,band6,band7,...,band13,band14,band15,band16,solarza,sateza,esr,height,landtype,dateTime
17116,1,13,0.0,-0.732074,-0.711792,-0.655751,-0.659892,-0.423044,-0.714843,-0.142392,...,0.354084,0.347889,0.379931,0.309863,1.508599,1.0,-1.568064,71.0,0,2020-05-01 00:00:00
17117,16,13,0.0,-0.734921,-0.711792,-0.651375,-0.666696,-0.417815,-0.714843,-0.005013,...,0.555542,0.577131,0.605427,0.551736,1.520003,1.0,-1.568064,71.0,0,2020-05-01 00:10:00
17118,46,13,0.0,-0.740564,-0.711792,-0.690510,-0.690466,-0.417815,-0.720190,0.085158,...,0.731588,0.761401,0.809650,0.764552,1.533685,1.0,-1.568064,71.0,0,2020-05-01 00:30:00
17119,61,13,0.0,-0.732074,-0.711792,-0.655751,-0.666696,-0.412585,-0.720190,0.116622,...,0.713939,0.749228,0.780686,0.739624,1.534909,1.0,-1.568064,71.0,0,2020-05-01 00:40:00
17120,76,13,0.0,-0.734921,-0.708985,-0.649966,-0.668738,-0.412585,-0.714843,0.108819,...,0.746471,0.780953,0.830565,0.781848,1.530825,1.0,-1.568064,71.0,0,2020-05-01 00:50:00

In [20]:
uv13_data.to_csv('./data/uv13.csv', index=False)
uv13_standard_data.to_csv('./data/uv13_standard.csv', index=False)

In [21]:
#테스트 데이터 불러오기
test = uv_13[(uv_13['dateTime']>= '2021-05-01') & (uv_13['dateTime']< '2021-07-01')]
test.head(5)

,Unnamed: 0,stn,uv,band1,band2,band3,band4,band5,band6,band7,...,band13,band14,band15,band16,solarza,sateza,esr,height,landtype,dateTime
66659,1,13,0.0,0.00000,-0.00057,0.00030,0.00030,-0.0003,0.00000,214.68952,...,218.26664,217.16498,216.71498,217.06603,130.63992,38.96359,-6.1548,71.0,0,2021-05-01 00:00:00
66660,16,13,0.0,0.00000,0.00000,-0.00060,0.00090,0.0000,0.00064,220.62832,...,218.15626,217.71459,217.50963,217.66665,131.06970,38.96359,-6.1548,71.0,0,2021-05-01 00:10:00
66661,46,13,0.0,-0.00057,-0.00114,-0.00477,-0.00658,0.0003,-0.00065,226.02284,...,221.50477,220.41702,219.98839,219.81733,131.58653,38.96359,-6.1548,71.0,0,2021-05-01 00:30:00
66662,61,13,0.0,0.00000,-0.00057,0.00030,-0.00015,0.0000,0.00000,226.02284,...,221.57368,220.87134,220.41264,220.28034,131.63541,38.96359,-6.1548,71.0,0,2021-05-01 00:40:00
66663,76,13,0.0,-0.00057,0.00000,0.00060,0.00015,-0.0003,0.00000,226.02284,...,218.99634,218.36025,218.16956,218.26227,131.48338,38.96359,-6.1548,71.0,0,2021-05-01 00:50:00

In [22]:
#테스트 데이터 정규화
test_standard = test
test_standard[scale_columns] = scaler.fit_transform(test_standard[scale_columns])

C:\Users\dbs92\anaconda3\lib\site-packages\pandas\core\frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)

In [25]:
#X, Y 지정
columns = ['band1', 'band2', 'band3', 'band4', 'band5', 'band6', 'band7', 'band8', 'band9', 'band10', 'band11',
                'band12', 'band13', 'band14', 'band15', 'band16', 'solarza', 'sateza', 'esr']
X = uv13_data[columns]
Y = uv13_data['uv']

#train set : test set ~=~ 0.8 : 0.2
test_data = test.sample(frac = 0.25)
x_test = test_data[columns]
y_test = test_data['uv']

In [26]:
#linear regression - VIF 고려안함
from sklearn import linear_model

lr = linear_model.LinearRegression()
model = lr.fit(X, Y)

In [28]:
#회귀 계수
coef1 = pd.Series(data = lr.coef_, index = X.columns)
coef1

band1      6.450743
band2     -6.051770
band3     -0.687844
band4     -0.939796
band5     -0.067645
band6      0.441953
band7      0.115292
band8     -0.201699
band9      0.530140
band10    -0.329060
band11    -1.587777
band12     0.780328
band13    -1.683345
band14     5.342935
band15     0.400125
band16    -3.298040
solarza   -4.573209
sateza     0.000000
esr       -2.546632
dtype: float64

In [30]:
#모델 test
y_predict = lr.predict(x_test)

In [33]:
#모델 평가
from sklearn.metrics import mean_squared_error, r2_score

mse = mean_squared_error(y_test, y_predict)
rmse = np.sqrt(mse)

print('rmse: ', rmse)

rmse:  1.496536293921346

In [34]:
#유의성 검정
import statsmodels.api as sm
X2 = sm.add_constant(X)

model2 = sm.OLS(Y, X2).fit()
model2.summary()

C:\Users\dbs92\anaconda3\lib\site-packages\statsmodels\tsa\tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                     uv   R-squared:                       0.815
Model:                            OLS   Adj. R-squared:                  0.814
Method:                 Least Squares   F-statistic:                     2122.
Date:                Mon, 06 Jun 2022   Prob (F-statistic):               0.00
Time:                        13:28:49   Log-Likelihood:                -12378.
No. Observations:                8700   AIC:                         2.479e+04
Df Residuals:                    8681   BIC:                         2.493e+04
Df Model:                          18
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
band1          6.4507      0.628     10.275      0.000       5.220       7.681
band2         -6.0518      0.735     -8.234      0.000      -7.493      -4.611
band3         -0.6878      0.207     -3.329      0.001      -1.093      -0.283
band4         -0.9398      0.220     -4.280      0.000      -1.370      -0.509
band5         -0.0676      0.026     -2.569      0.010      -0.119      -0.016
band6          0.4420      0.044     10.003      0.000       0.355       0.529
band7          0.1153      0.057      2.015      0.044       0.003       0.227
band8         -0.2017      0.114     -1.769      0.077      -0.425       0.022
band9          0.5301      0.254      2.091      0.037       0.033       1.027
band10        -0.3291      0.222     -1.479      0.139      -0.765       0.107
band11        -1.5878      0.432     -3.675      0.000      -2.435      -0.741
band12         0.7803      0.108      7.194      0.000       0.568       0.993
band13        -1.6833      0.634     -2.654      0.008      -2.927      -0.440
band14         5.3429      0.863      6.189      0.000       3.651       7.035
band15         0.4001      0.587      0.681      0.496      -0.751       1.552
band16        -3.2980      0.268    -12.308      0.000      -3.823      -2.773
solarza       -4.5732      0.075    -61.160      0.000      -4.720      -4.427
sateza         1.4910      0.011    138.389      0.000       1.470       1.512
esr           -2.5466      0.066    -38.721      0.000      -2.676      -2.418
==============================================================================
Omnibus:                      319.740   Durbin-Watson:                   0.273
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              496.101
Skew:                           0.344   Prob(JB):                    1.87e-108
Kurtosis:                       3.946   Cond. No.                         337.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [38]:
#VIF 고려
from statsmodels.stats.outliers_influence import variance_inflation_factor

vif = pd.DataFrame()
vif['features'] = X.columns
vif['vif factor'] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
vif

   features   vif factor
0     band1  3395.695134
1     band2  4654.254958
2     band3   367.832630
3     band4   415.293587
4     band5     5.975390
5     band6    16.817707
6     band7    28.200412
7     band8   111.987354
8     band9   553.735553
9    band10   426.195259
10   band11  1608.517432
11   band12   101.354674
12   band13  3465.958688
13   band14  6420.186808
14   band15  2972.655092
15   band16   618.544242
16  solarza    48.169095
17   sateza     1.000000
18      esr    37.264490

In [39]:
#정규화된 데이터로 다시 linear regression
#변수 지정
X = uv13_standard_data[columns]
Y = uv13_standard_data['uv']

test_data = test_standard.sample(frac=0.25)
x_test = test_data[columns]
y_test = test_data['uv']

In [40]:
model3 = lr.fit(X,Y)

In [41]:
#회귀 계수
coef2 = pd.Series(data = lr.coef_, index = X.columns)
coef2

band1      6.450743
band2     -6.051770
band3     -0.687844
band4     -0.939796
band5     -0.067645
band6      0.441953
band7      0.115292
band8     -0.201699
band9      0.530140
band10    -0.329060
band11    -1.587777
band12     0.780328
band13    -1.683345
band14     5.342935
band15     0.400125
band16    -3.298040
solarza   -4.573209
sateza     0.000000
esr       -2.546632
dtype: float64

In [42]:
#모델 test
y2_predict = lr.predict(x_test)

In [43]:
mse = mean_squared_error(y_test, y_predict)
rmse = np.sqrt(mse)

print('rmse: ', rmse)

rmse:  3.6647722205804536

In [44]:
X3 = sm.add_constant(X)

model4 = sm.OLS(Y, X3).fit()
model4.summary()

C:\Users\dbs92\anaconda3\lib\site-packages\statsmodels\tsa\tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                     uv   R-squared:                       0.815
Model:                            OLS   Adj. R-squared:                  0.814
Method:                 Least Squares   F-statistic:                     2122.
Date:                Mon, 06 Jun 2022   Prob (F-statistic):               0.00
Time:                        13:54:36   Log-Likelihood:                -12378.
No. Observations:                8700   AIC:                         2.479e+04
Df Residuals:                    8681   BIC:                         2.493e+04
Df Model:                          18
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
band1          6.4507      0.628     10.275      0.000       5.220       7.681
band2         -6.0518      0.735     -8.234      0.000      -7.493      -4.611
band3         -0.6878      0.207     -3.329      0.001      -1.093      -0.283
band4         -0.9398      0.220     -4.280      0.000      -1.370      -0.509
band5         -0.0676      0.026     -2.569      0.010      -0.119      -0.016
band6          0.4420      0.044     10.003      0.000       0.355       0.529
band7          0.1153      0.057      2.015      0.044       0.003       0.227
band8         -0.2017      0.114     -1.769      0.077      -0.425       0.022
band9          0.5301      0.254      2.091      0.037       0.033       1.027
band10        -0.3291      0.222     -1.479      0.139      -0.765       0.107
band11        -1.5878      0.432     -3.675      0.000      -2.435      -0.741
band12         0.7803      0.108      7.194      0.000       0.568       0.993
band13        -1.6833      0.634     -2.654      0.008      -2.927      -0.440
band14         5.3429      0.863      6.189      0.000       3.651       7.035
band15         0.4001      0.587      0.681      0.496      -0.751       1.552
band16        -3.2980      0.268    -12.308      0.000      -3.823      -2.773
solarza       -4.5732      0.075    -61.160      0.000      -4.720      -4.427
sateza         1.4910      0.011    138.389      0.000       1.470       1.512
esr           -2.5466      0.066    -38.721      0.000      -2.676      -2.418
==============================================================================
Omnibus:                      319.740   Durbin-Watson:                   0.273
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              496.101
Skew:                           0.344   Prob(JB):                    1.87e-108
Kurtosis:                       3.946   Cond. No.                         337.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""